



<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CRUD</title>
    <link rel="stylesheet" href="global.css" />
    <link rel="stylesheet" href="media.css" />
  </head>
  <body>
    <header class="header">
        <a href="index.html" class="header-left">CRUD</a>
      <div class="header-right">
        <div id="frame">
          <a href="#" class="bars" class="menu-button">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
          </a>
        </div>
      </div>
      <menu class="menu">
        <a href="#">Pesquisar</a>
        <a href="#">Adicionar</a>
        <a href="#">Fale Conosco</a>
        <a href="#">Sobre</a>
      </menu>
    </header>
    
   	    <button class="add-button" onclick="form()">+</button>
    <menu class="add-menu">
      <!--<form action="/movies" method="post" class="form">
        <label for="nameMovie">Filme:</label>
        <input type="text" name="nameMovie" id="nMovie">
        <select name="categorias" id="categoria">
          <option value="Ação">Ação</option>
          <option value="Ação">Aventura</option>
          <option value="Ação">Comedia</option>
          <option value="Ação">Drama</option>
        </select>
        <label for="nota">Nota do filme:</label>
        <input type="range" name="nota" id="nota" step="1" max="10">
      </form>-->
      <a href="#" class="btnOpt">Pesquisar</a>
      <div class="line"></div>
      <a href="#" class="btnOpt">Adicionar</a>
      <div class="line"></div>
      <a href="#" class="btnOpt">Fale Conosco</a>
      <div class="line"></div>
      <a href="#" class="btnOpt">Sobre</a>
    </menu>
    
    <form id="formulario-filme">
        <label for="titulo">Título:</label>
        <input type="text" id="titulo" name="titulo">
        
        <label for="lancamento">Lançamento:</label>
        <input type="text" id="lancamento" name="lancamento">
        
        <label for="elenco">Elenco:</label>
        <input type="text" id="elenco" name="elenco">
        
        <label for="genero">Gênero:</label>
        <input type="text" id="genero" name="genero">
        
        <button type="submit">Adicionar Filme</button>
      </form>
      

   
    
    <footer>
      <h3>cópia não comedia</h2>
    </footer>
    <script src="index.js"></script>
  </body>
</html>