@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --color01: #5c0096;
  --color02: #550e81;
  --color03: #f9fe04;
  --color04: #00000079;
  --color-text: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color02);
  font-family: "Inter", sans-serif;
  width: 100vw;
  height: 100vh;
}

.header {
  display: flex;
  align-items: center;
  background-color: #5c0096;
}
.header-left {
  flex: 1;
  padding: 1rem;
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
}
.header-right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
}
