<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="/CRUD - Filmes/view/global.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CRUD</title>
  </head>
  <body>
    <header>
      <h1>CRUD</h1>
      <menu>
        <img src="svg/buttomMenu.svg" alt="">
        <ul>
          <li>pesquisar</li>
          <li>adicionar</li>
          <li>fale conosco</li>
          <li>sobre</li>
        </ul>
      </menu>
    </header>
    <div>
      <section>filmes</section>
      <section>categorias</section>
    </div>
    <footer>rodape</footer>
  </body>
</html>

