



<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CRUD</title>
    <link rel="stylesheet" href="global.css" />
    <link rel="stylesheet" href="media.css" />
  </head>
  <body>
    <header class="header">
      <h1 class="header-left">CRUD</h1>
      <div class="header-right">
        <div id="frame">
          <a href="#" class="bars" class="menu-button">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
          </a>
        </div>
      </div>
      <menu class="menu">
        <a href="#">Pesquisar</a>
        <a href="#">Adicionar</a>
        <a href="#">Fale Conosco</a>
        <a href="#">Sobre</a>
      </menu>
    </header>
    
    <button class="add-button" onclick="form()">+</button>
    <menu class="add-menu">
      <form action="/movies" method="post" class="form">
        <label for="nameMovie">Filme:</label>
        <input type="text" name="nameMovie" id="nMovie">

        <select name="categorias" id="categoria">
          <option value="Ação">Ação</option>
          <option value="Ação">Aventura</option>
          <option value="Ação">Comedia</option>
          <option value="Ação">Drama</option>
        </select>

        <label for="nota">Nota do filme:</label>
        <input type="range" name="nota" id="nota" step="1" max="10">
      </form>
      <!--<a href="#">Pesquisar</a>
      <div class="line"></div>
      <a href="#">Adicionar</a>
      <div class="line"></div>
      <a href="#">Fale Conosco</a>
      <div class="line"></div>
      <a href="#">Sobre</a>-->
    </menu>
    
    

    <div class="colums">
      <section class="containers">
        <h2>Filmes</h2>
        <div class="gallery-wrapper">
          <div class="gallery banner">
            <a href="#" class="item"><img src="img/capa encanto pequena.jpeg" alt="capa-do-filme-ENCANTO"></a>
            <a href="#" class="item"><img src="img/capa thor pequena.jpeg" alt="capa-do-filme-THOR"></a>
            <a href="#" class="item"><img src="img/capa encanto pequena.jpeg" alt="capa-do-filme-ENCANTO "></a>
            <a href="#" class="item"><img src="img/capa thor pequena.jpeg" alt="capa-do-filme-THOR"></a>
            <a href="#" class="item"><img src="img/capa encanto pequena.jpeg" alt="capa-do-filme-ENCANTO "></a>
            <a href="#" class="item"><img src="img/capa thor pequena.jpeg" alt="capa-do-filme-THOR"></a>
          </div>
        </div>

      </section>
      <section class="containers">
        <h2>Categorias</h2>
        <div class="gallery-wrapper">
          <div class="gallery banner">
            <a href="#" class="item"><img src="svg/categoria-acao.svg" alt="categorias" class="categoria"></a>
            <a href="#" class="item"><img src="svg/categoria-acao.svg" alt="categorias" class="categoria"></a>
            <a href="#" class="item"><img src="svg/categoria-acao.svg" alt="categorias" class="categoria"></a>
            <a href="#" class="item"><img src="svg/categoria-acao.svg" alt="categorias" class="categoria"></a>
            <a href="#" class="item"><img src="svg/categoria-acao.svg" alt="categorias" class="categoria"></a>
            <a href="#" class="item"><img src="svg/categoria-acao.svg" alt="categorias" class="categoria"></a>
          </div>
        </div>
      </section>
    </div>
   
    
    <footer>
      <h3>cópia não comedia</h2>
    </footer>
    <script src="index.js"></script>
  </body>
</html>