@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@media (max-width: 500px) {
  #frame {
    display: grid;
    place-items: center;
    height: 2.5rem;
    width: 2.5rem;
    position: relative;
    top: 30%;
    background-color: var(--color03);
    border-radius: 3px;
    box-shadow: 8px 6px 10px rgb(0 0 0 / 21%);
  }

  .bars {
    height: 22px;
    width: 33px;
    display: grid;
    align-content: space-between;
    justify-content: center;
    align-items: center;
    justify-items: center;
  }

  .upcross {
    transform: rotate(45deg);
    position: absolute;
    top: 45%;
    left: 20%;
  }

  .middlecross {
    opacity: 0;
  }

  .downcross {
    transform: rotate(134deg);
    position: absolute;
    top: 45%;
    left: 22%;
  }

  .bar1 {
    color: black;
    height: 4px;
    width: 25px;
    border: 1px solid;
    background-color: black;
    border-radius: 3px;
    box-shadow: 1px 4px 3px 2px rgb(0 0 0 / 13%);
    transition: all 1s;
  }
  .bar2 {
    color: black;
    height: 4px;
    width: 25px;
    border: 1px solid;
    background-color: black;
    border-radius: 3px;
    box-shadow: 1px 4px 3px 2px rgb(0 0 0 / 13%);
  }
  .bar3 {
    color: black;
    height: 4px;
    width: 25px;
    border: 1px solid;
    background-color: black;
    border-radius: 3px;
    box-shadow: 1px 4px 3px 2px rgb(0 0 0 / 13%);
    transition: all 1s;
  }

  .menu {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
  }

  .menuopen {
    display: block;
    position: absolute;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    top: 11%;
    right: 3%;
  }

  .menu a {
    display: block;
    padding: 12px 16px;
    text-decoration: none;
    color: black;
  }

  .menu a:hover {
    background-color: #f1f1f1;
  }

  /**************AREA DOS FILMES, CATEGORIAS E O FOOTER********************/

  .colums {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 35px;
  }
  .containers {
    background-color: var(--color04);
    height: 210px;
    max-width: 95%;
    margin: 0 auto;
    border-radius: 10px;
  }
  section > h2 {
    color: var(--color-text);
    text-align: center;
    font-size: 1.2em;
    margin: 5px 0px 5px 0px;
  }
  .gallery {
    overflow-x: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .gallery::-webkit-scrollbar {
    display: none;
  }
  .banner {
    display: flex;
    justify-content: space-between;
    gap: 25px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .banner > a > img {
    height: 150px;
    border-radius: 14px;
  }
  .item {
    flex-shrink: 0;
  }

  .add-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    border-style: unset;
    background-color: #9093dc;
    color: #ffffff;
    font-size: 60px;
    line-height: 50px;
    text-align: center;
    transition: background-color 0.3s ease;
    box-shadow: 0px 0px 6px 3px rgb(255 255 255 / 45%);
    z-index: 999;
  }

  .add-button:active {
    background-color: #6d6fb3;
  }

  .add-menu {
    background-color: rgb(255, 255, 255);
    opacity: 90%;
    height: 85%;
    width: 85%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    right: 0;
    z-index: 999;
    display: none;
    place-items: center;
    border-radius: 5%;
  }

  .add-menu a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-family: sans-serif;
    font-size: xx-large;
    font-weight: normal;
    padding-top: 10%;
    padding-bottom: 10%;
  }

  .add-menuOpen {
    background-color: rgb(255, 255, 255);
    opacity: 90%;
    height: 85%;
    width: 85%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    right: 0;
    z-index: 999;
    display: grid;
    place-items: center;
    border-radius: 5%;
  }

  .line {
    width: 92px;
    height: 0px;

    border: 1px solid #6649cc;
    border-radius: 2px;
  }

  .header {
    display: flex;
    align-items: center;
    background-color: #5c0096;
    box-shadow: -1px 10px 8px 0px rgba(0, 0, 0, 0.25);
  }
  .header-left {
    flex: 1;
    padding: 1rem;
    color: white;
  }
  .header-right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
  }

  .form {
    display: flex;
    flex-direction: column;
    height: 300px;
    gap: 20px;
  }

  #formulario-filme {
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #formulario-filme label {
    color: var(--color-text);
    margin-bottom: 5px;
    width: 80%;
  }

  #formulario-filme input {
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 80%;
  }

  #formulario-filme button {
    background-color: var(--color01);
    color: var(--color-text);
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    margin-top: 10px;
    cursor: pointer;
  }

  footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 170px;
    background-color: var(--color04);
    color: var(--color-text);
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
}
