<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CRUD</title>
    <link rel="stylesheet" href="global.css" />
    <link rel="stylesheet" href="media.css" />
  </head>
  <body>
    <header class="header">
      <a href="index.html" class="header-left">CRUD</a>
      <div class="header-right">
        <div id="frame">
          <a href="#" class="bars" class="menu-button">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
          </a>
        </div>
      </div>
      <menu class="menu">
        <a href="#">Pesquisar</a>
        <a href="add.html">Adicionar</a>
        <a href="#">Fale Conosco</a>
        <a href="#">Sobre</a>
      </menu>
    </header>
    
    <button class="add-button" onclick="form()">+</button>
    <menu class="add-menu">
      <a href="#" class="btnOpt">Pesquisar</a>
      <div class="line"></div>
      <a href="add.html" class="btnOpt">Adicionar</a>
      <div class="line"></div>
      <a href="#" class="btnOpt">Fale Conosco</a>
      <div class="line"></div>
      <a href="#" class="btnOpt">Sobre</a>
    </menu>

    <div id="containerFilm">
        <a href="#" class="linkPg"><h2>Filmes</h2></a>
        <section id="galleryFilm">
            <a href="#" class="capasFilm"><img src="img/capa encanto pequena.jpeg" alt="capa filme"></a>
            <a href="#" class="capasFilm"><img src="img/capa encanto pequena.jpeg" alt="capa filme"></a>
            <a href="#" class="capasFilm"><img src="img/capa encanto pequena.jpeg" alt="capa filme"></a>
            <a href="#" class="capasFilm"><img src="img/capa encanto pequena.jpeg" alt="capa filme"></a>
            <a href="#" class="capasFilm"><img src="img/capa encanto pequena.jpeg" alt="capa filme"></a>
            <a href="#" class="capasFilm"><img src="img/capa encanto pequena.jpeg" alt="capa filme"></a>
            <a href="#" class="capasFilm"><img src="img/capa encanto pequena.jpeg" alt="capa filme"></a>
            <a href="#" class="capasFilm"><img src="img/capa encanto pequena.jpeg" alt="capa filme"></a>
            <a href="#" class="capasFilm"><img src="img/capa encanto pequena.jpeg" alt="capa filme"></a>
            <a href="#" class="capasFilm"><img src="img/capa encanto pequena.jpeg" alt="capa filme"></a>
            <a href="#" class="capasFilm"><img src="img/capa encanto pequena.jpeg" alt="capa filme"></a>
            <a href="#" class="capasFilm"><img src="img/capa encanto pequena.jpeg" alt="capa filme"></a>
            <a href="#" class="capasFilm"><img src="img/capa encanto pequena.jpeg" alt="capa filme"></a>
            <a href="#" class="capasFilm"><img src="img/capa encanto pequena.jpeg" alt="capa filme"></a>
            <a href="#" class="capasFilm"><img src="img/capa encanto pequena.jpeg" alt="capa filme"></a>
            <a href="#" class="capasFilm"><img src="img/capa encanto pequena.jpeg" alt="capa filme"></a>
            <a href="#" class="capasFilm"><img src="img/capa encanto pequena.jpeg" alt="capa filme"></a>
            <a href="#" class="capasFilm"><img src="img/capa encanto pequena.jpeg" alt="capa filme"></a>
        </section>
    </div>
   
    <footer>
      <h3>cópia não comedia</h2>
    </footer>
    <script src="index.js"></script>
  </body>
</html>